{% extends 'index.html' %}
{% block main %}
<!--content-->
	<div class="container">
		<div class="check-out">
			<h1>How to buy with us</h1>
			<p class="step-details-header">No user accounts needed, No payment made before getting your order.<br>
				 Just follow these steps to order and pay on delivery </p>
			<div class="how-to">
						<div>
						    <p class="steps">Step 1</p>
								 <p class="step-details">Browse through available products and click on the product of your choice.</p>
						</div>
						<div>
						    <p class="steps">Step 2</p>
								 <p class="step-details">Add a number of products you wish to order for and click add to cart.</p>
						</div>
						<div>
						    <p class="steps">Step 3</p>
								 <p class="step-details">Click checkout.</p>
						</div>
						<div>
						    <p class="steps">Step 4</p>
								 <p class="step-details">Click Proceed to Cart.</p>
						</div>
						<div>
						    <p class="steps">Step 5</p>
								 <p class="step-details">Fill in your details.</p>
						</div>
						<div>
						    <p class="steps">Step 6</p>
								 <p class="step-details">Thanks for ordering, You will receive an email confirmation. we will get back to you soon.</p>
						</div>
	  </div>
	</div>
</div>
<!--//content-->
{% endblock %}
