{% extends 'index.html' %}
{% block main %}
<div class="container">
  <div class="order">
      <h1 class="order-title">Order details</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Cart details</h3>
            </div>
            <div class="panel-body">
              <table >
                   <tr>
                       <th>Item</th>
                       <th>Qty</th>
                       <th>Prices</th>
                       <!--<th>Delery Detials</th>-->
                       <th>Subtotal</th>
                   </tr>
                   {% for product in products %}
                       <tr>
                           <td class="ring-in">
                               <a href="single.html" class="at-in">
                                  <img src={{product.product.title_image.url}} class="img-responsive" alt="">
                               </a>
                               <div class="sed">
                                 <h5>{{product.product.product_name}}</h5>
                                 <p>{{product.product.category}}</p>
                               </div>
                               <div class="clearfix"> </div>
                           </td>
                           <td class="check">{{product.quantity}}</td>
                           <td class="checkout-price">{{product.product.price}} UGX</td>
                           <!--<td>FREE SHIPPING</td>-->
                           <td class="checkout-subtotal">{{product.subtotal}} UGX</td>
                       </tr>
                   {% endfor %}
              </table>
              <h3 class="checkout-total">TOTAL: USh {{total}}</h3>
            	<a href="/checkout" class=" to-buy">Back to Cart</a>
            	<a href="/" class=" to-buy">Continue Shopping</a>
            	<div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Customer details</h3>
            </div>
            <div class="panel-body">
              <!-- form -->
                <form action="/saveclient" method="post">
                  {% csrf_token%}
                  {% load bootstrap %}
  								{{saleform|bootstrap}}
                    <input type="submit" class="order-submit" value="CLICK TO ORDER">
  							</form>
              <!-- end form -->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
