{% extends 'index.html' %}
{% load static %}
{% block cart %}
{% endblock %}
{% block main %}
<div style="padding:10px;">
<div class="container">
	<div class="spec ">
		<h3>Success</h3>
			<div class="ser-t">
				<b></b>
				<span><i></i></span>
				<b class="line"></b>
			</div>
	</div>
	<div class="check-out">
		<p class="success-message">Thanks for contacting
        us <b class="header-name">Leasing Market </b><br>
        We will reach you soon by phone or by email<br>
    </p>
    </div>
</div>
</div>
{% endblock %}
